[2014-07-14 12:38] fians opened #1 "More browser support"
Please tested in various modern browser and also the old one (IE)

[2014-07-14 12:39] fians opened #2 "Support touch event for mobile support"

[2014-07-14 12:40] fians opened #3 "Add Grunt support for development automation"

[2014-07-14 15:59] cullen-tsering opened #4 "Remove dependency on jQuery and document.ready event"
It would be great if the dependency on jQuery and document.ready event are removed so it can be used in wider platforms apps. Great job, by the way!

[2014-07-16 08:27] ozasadnyy opened #5 "Rename files"
Hi. Preferably all css and js files starting with a lowercase letter, so please rename them

[2014-07-16 10:39] #5 closed, assigned to nobody

[2014-07-16 10:41] #4 closed, assigned to nobody

[2014-07-16 10:49] #1 closed, assigned to nobody

[2014-07-16 13:49] ozasadnyy opened #6 "Minify"
Also provide minified files, please

[2014-07-17 14:15] #2 closed, assigned to nobody

[2014-07-17 14:33] fians opened #7 "Conflict beetween mouseup and mouse right click."
There is a conflict beetween mouseup and right click action. If a link button clicked via right click, the `Effect.action` will be triggered. It will decrease user experience if user accidentally do right-clicking on `.waves-button` element.

[2014-07-18 08:09] #7 closed, assigned to nobody

[2014-07-19 13:15] #3 closed, assigned to nobody

[2014-07-19 13:18] #6 closed, assigned to nobody

[2014-07-20 15:27] afnizarnur opened #9 "Make animation more fast"

[2014-07-22 10:06] artlantis opened #12 "Sample site"
Is it possible to add sample site into github repo? Sometimes we can lost the site or can't imagine what was the benefit of the source.

[2014-07-22 12:20] #12 closed, assigned to nobody

[2014-07-22 13:08] fians opened #15 "IE8+ support"

[2014-07-22 13:44] ozasadnyy opened #16 "Animation on svg icons just like on Font Awesome icons"

[2014-07-22 13:56] #9 closed, assigned to nobody

[2014-07-22 16:49] JoshFabian opened #17 "Animation doesn't finish"
Really wanted to use this on the tile images for my marketplace, fauna.net, but the animation would often not finish when started.

[2014-07-22 17:08] kirklandspector opened #18 "Where to submit contributions?"
If I want to send a patch/code who do I go to?

[2014-07-23 07:53] #18 closed, assigned to nobody

[2014-07-23 10:24] jpillora opened #21 "404"
As of 10:23 am Wednesday, 23 July 2014 (UTC) http://publicis-indonesia.github.io/Waves/ produces a github 404

[2014-07-23 10:32] #21 closed, assigned to nobody

[2014-07-25 03:58] #17 closed, assigned to nobody

[2014-07-25 09:51] kazzwatabe opened #26 "Don't work with <a href="xxx"> tag (I can't jump other page)"
This plugin don't work with Firefox/Safari when I write like this. (I can't jump other page)
<a href="http://facebook.com" class="waves-effect waves-button">Button A</a>

But it works with Chrome.

[2014-07-27 10:22] Aaltuj opened #28 "Ripple not displaying in combination with bootstrap"
Hi I like your work and i want to use it in my project. Unfortunately Bootstrap is messing things up. The ripple is hooked up correct, as i see that the dom is changing when i click on a icon or button. when i set a break point in Waves.js a glimp of the ripple is shown. so there is surely stuff going on. After i remove bootstrap all ripples work fine . So do you have a suggestion how i could use

[2014-07-28 09:31] #26 closed, assigned to nobody

[2014-07-29 08:44] ozasadnyy opened #30 "What about SASS support?"

[2014-07-29 09:01] #28 closed, assigned to nobody

[2014-08-04 13:25] #30 closed, assigned to nobody

[2014-08-06 04:13] argyleink opened #39 "Fixed position parent element breaks waves effect"
A `<nav>` position:fixed and bottom:0 causes the generated waves effect to be placed in the wrong location, and never slides in to create the effect. Position nav to the top, effects works.

[2014-08-08 22:19] oisinlavery opened #40 "Effect is buggy with touch events"
Tested on Nexus 5 and with touch emulation in the browser.

The effect goes completely dark for a moment before the wave effect happens.

[2014-08-11 03:27] #40 closed, assigned to nobody

[2014-08-12 04:24] #39 closed, assigned to nobody

[2014-08-17 19:13] kazzwatabe opened #44 "The Effect happen two times with touch device (iPhone 5s + Safari)."
For some reason, the effect happen two times with touch device (iPhone 5s + Safari).

It works properly with Mac + Safari,Chrome, and Firefox.

Do you call to mind cause about this issue?

[2014-08-18 06:22] archon810 opened #45 "Combine circle and box shadow"
Hi,

Love the project, thanks for creating it!

I'm trying to create a circular button but one that also benefits from the box-shadow effect, but it seems impossible with the current library. Either the box shadow doesn't show up (because of the -webkit-mask-image) or if the latter is removed, the tap effect becomes a box and goes out of bounds of the circle.

Is there a way to combine this and ac

[2014-08-18 12:00] #45 closed, assigned to nobody

[2014-08-18 12:08] #44 closed, assigned to nobody

[2014-08-22 12:21] prostoandrei opened #46 "Button color issue."
In waves.min.css:

[code]

It's drop colors.
May be background-position: left top ?

[2014-08-22 13:43] prostoandrei opened #47 "Don't work on Safari 5.1"
Don't work on Safari 5.1.
Waves = undefined

[2014-08-28 13:08] prostoandrei opened #48 "Click effect - Ipad mini2 - Safari 7.1"
"Click effect" always starts from the top left corner of the element, regardless of where the click. No errors in JS console.

[2014-09-02 10:33] Skalkaz opened #49 "typo in tutorial"
http://publicis-indonesia.github.io/Waves/
At the Getting Started section, in the first example there are two unnecessary back-slashes
<script type="text/javascript" src="/path/to/waves.min.js"></script>

[2014-09-02 11:02] #49 closed, assigned to nobody

[2014-09-15 16:54] npvn opened #50 "More 'material-ish' ripple effect"
The ripple effect should be faster and fade out more naturally. Examples from Google: http://www.polymer-project.org/components/paper-button/demo.html

I found an implementation that looks very similar to Google's examples. However I'm not sure how to integrate the code into Waves: http://codepen.io/anon/pen/okIlh

[2014-09-18 20:18] JvanderHeide opened #51 "Click event in demo"
It looks like it doesn't matter right now where someone clicks?
Unlike the google variant, when I click right, bottom on the header for instance, the effect still comes in from the left, top.

Is this intended behavior or should I try to improve on this? I was fooling around before with JSFiddle and was able to create something similar.. (http://jsfiddle.net/Jeffreyvdh/ewmnbLxc/ , please ignore th

[2014-09-25 13:31] npvn opened #52 "Using Waves in a Meteor package"
Hi @fians,

I'm using Waves in this Meteor package: https://github.com/npvn/meteor-material-design

The package aims to provide Meteor developers an easy way to implement material components in their apps.

Could you please review the following files to see if you're ok with the license information?
https://github.com/npvn/meteor-material-design/blob/master/licenses/credits.md
https://github.com/n

[2014-09-26 08:52] #52 closed, assigned to nobody

[2014-09-27 03:57] #51 closed, assigned to nobody

[2014-09-27 14:31] #46 closed, assigned to nobody

[2014-10-12 12:51] rbozan opened #53 "Effect does not fade out."
Whenever you press on a button with Waves using BOTH your left mouse button and your right mouse button, it bugs and the effect does not go away. This only happens when you click both very very fast.  Just try clicking using both mouse buttons for 2 seconds as fast as you can and look what happens with the element.

---

edit:
better yet, hold your left mouse button on a div with Waves, and then p

[2014-10-15 12:10] JvanderHeide opened #54 "Add waves to cdnjs"
Would be nice to see Waves added to cdnjs (https://github.com/cdnjs/cdnjs)

[2014-10-16 08:47] elmor34 opened #55 "cannot clone to local"
Hi, When I try to clone to local dir using Github for Mac, it cannot find Waves.
Any idea..

regards
Gokhan

[2014-10-19 09:12] #53 closed, assigned to nobody

[2014-10-19 09:34] #47 closed, assigned to nobody

[2014-10-19 09:35] #55 closed, assigned to nobody

[2014-10-26 07:08] drtechie opened #56 "A second function doesn't get executed when combined with Waves"
A second set of javascript doesn't get executed when combined with WavesJS.
Issue is only present in Firefox (33) and Opera (12.16).

So lets say I have this markup for my page

[code]

[code]

The second block of JS doesn't get executed. The ripple effect completes but the second function is not called.
It works well with Chrome and mobile version of Chrome and Firefox (Android).
It also gets exe

[2014-10-29 04:03] #15 closed, assigned to nobody

[2014-11-10 05:46] Dogfalo opened #57 "Waves doesn't work correctly in Safari"
Effect appears at the top left corner instead of where the click happened

[2014-11-14 18:10] youssefdetovernickr opened #58 "Waves doesn't work with new version"
Your new version with the touch-interaction fix isn't working. The waves effect isn't working on my page, but it does with your latest stable release. Code is just the simple example you gave on your own site, your new release just doesn't work on desktop.

[2014-12-12 15:21] Olegatro opened #59 "Stylus ?"
Hi, maybe, add stylus support ?

[2014-12-18 13:49] #57 closed, assigned to nobody

[2014-12-18 14:41] #48 closed, assigned to nobody

[2014-12-18 14:47] fians opened #62 ""Sunk" input wrapper on Safari iOS 8 (iPad)"
I don't have any real device to check it, But from iPad simulator, the `<input>` button look likes sinking.

![ios_ipad_mini_2](https://cloud.githubusercontent.com/assets/4204007/5489789/144596d0-86ff-11e4-9884-c2711a3e068e.jpg)

[2014-12-18 14:54] #62 closed, assigned to nobody

[2014-12-18 15:29] #56 closed, assigned to nobody

[2014-12-21 17:16] fians opened #67 "Auto generate SASS/SCSS file from LESS file"
Let's figure how to programmatically generate SASS/SCSS file from LESS file on `grunt build`.

[2014-12-23 14:59] hoxxep opened #68 "Add button which has a side-effect on the demo page."
I'll add a button which has a side effect on the demo page (to demonstrate that JS clicks still work on the buttons). I'll see if I can use [SweetAlert](http://tristanedwards.me/sweetalert) because it looks pretty nifty.

[2014-12-26 01:30] hoxxep opened #71 "Add delegated mouse/touch handler because dynamically added .waves-effect doesn't work"
If Snarl notifications have the `.waves-effect` class added to them, no event listener is bound to them, hence clicking them does not start the waves effect. Waves needs to be fully reloaded every time a dynamic element to be used with `.waves-effect` is added to the document (potentially causing duplicated event listeners).

I'm not sure what the best solution would be, is adding an `addWavesList

[2014-12-29 08:18] javiercf opened #72 "Add waves.css to main in bower.json"
Could you add waves.min.css in the main option in bower.json, this makes the flow of using tools such as wiredep much easier

[2014-12-31 18:54] #72 closed, assigned to nobody

[2015-01-02 23:28] youssefdetovernickr commented on #58
No fians.. I meant that before it didn't work on only my site, but now it neither works on your own demo site. I don't get any error logs, but clicking results it not doing anything, however when I'm on mobile everything is fine. It worked great when you didn't add the touch events check, a long time ago that was..

[2015-01-02 23:41] hoxxep commented on #58
@youssefdetovernickr Are you using a touch screen laptop, because I reckon that could be the issue?

Waves doesn't apply the mouseup/mousedown event listeners when there's a touch device enabled. A mouse click wont register the touch events, so we probably need to bind both touch events.

This assumes that a touch device won't activate mousedown, otherwise we'd have a small issue. Realistically, t

[2015-01-03 01:26] hoxxep commented on #67
Take a look at my less2scss branch. SASS, SCSS and Stylus code are all transpiled from the LESS source on `grunt build`. It does make the gruntfile a lot uglier though...

The conversions do work though and they generate the same minified output! :smiley:

[2015-01-03 20:02] youssefdetovernickr commented on #58
@hoxxep I don't got a touch screen laptop.. Just a regular Windows 8.1 desktop (however I do think that touch is somehow activated yeah...)

Your fix seems the most logical tho.

[2015-01-04 07:49] fians commented on #67
Nice, could you create a pull request of that branch to v0.6.0-dev? Thanks!

[2015-01-04 08:07] fians commented on #68
I've checked your Snarl notification, and it works nicely. I will push it to v0.6.0. Thanks for your great project! :smile:

[2015-01-04 08:07] #68 closed

[2015-01-04 08:32] #59 closed

[2015-01-04 08:38] fians commented on #50
Radial gradient effect has been added to Waves ripple (thanks to @hoxxep) and will arrive on v0.6.0. It makes the ripple more natural than the old one.

[2015-01-04 08:38] #50 closed

[2015-01-04 16:46] hoxxep commented on #67
Added pull request #75 which merges the less2scss branch.

[2015-01-07 16:05] Dogfalo opened #76 "Waves does not work correctly on Windows computers with touchscreen + Chrome"

[2015-01-07 16:26] hoxxep commented on #76
As far as I'm aware, this issue should be fixed on v0.6.0-dev; although this hasn't been confirmed yet. This is also a duplicate of issue #58 (although this one is better titled).

If you have a little experience with JS and Git then if you have a touchscreen Windows computer it would be great if you could test it for us?

To clone branch `v0.6.0-dev` do the following inside a new folder.

[code]

[2015-01-07 16:36] Dogfalo commented on #76
Oh great, I didn't know there was a fix. I don't actually have a touchscreen windows computer, but hopefully it will fix issues people have been having in my project.

[2015-01-07 16:36] #76 closed

[2015-01-07 16:38] hoxxep commented on #76
You can try download `waves.min.css` and `waves.min.js` from the `dist/` folder in the `v0.6.0-dev` branch and use it in your project? As far as I'm aware it's currently in stable condition, just awaiting new features before we publish it officially.

If you do decide to use it then let us know if it solves the issues because we haven't been able to test it yet ourselves. Cheers!

[2015-01-07 16:40] Dogfalo commented on #71
Looking forward to this :smile:

[2015-01-08 15:27] fians commented on #67
Everything looks fine. But I've changed ripple gradient value (1a216627cdc13a295fb9ede8c5f7de9e758a46ec), just to make sure all css pre-processor script generate same css output.

Thank you!

[2015-01-08 15:27] #67 closed

[2015-01-08 15:53] hoxxep commented on #67
Ah cool! Good shout and no problem :)

[2015-01-08 19:00] hoxxep commented on #71
To solve my own issue, I've added delegated mouse/touch handling to `v0.6.0-dev` in pull request #77. :smile:

As specified in the pull request, `mouseup` and `mouseleave` events are still bound to the element when a `mousedown` occurs (even a programmer probably won't notice). This is because delegating these events is pretty difficult without jQuery (or so I think at least?), and it shouldn't ha

[2015-01-09 17:30] hoxxep opened #78 "Double ripple on touch devices with delegated click"
Clicking a button or notification on [Snarl](https://hoxxep.github.io/snarl) while using an iOS device (or simulator?) will produce one ripple on the touch event, and then one ripple on the delayed mouseup/click event, meaning it double-ripples with a 300ms delay.

This doesn't happen with [Waves v0.5.5](http://fian.my.id/Waves/), so I'll see why it's happening with the delegated click handler and

[2015-01-10 09:10] fians commented on #78
Sorry, I think I forgot to mention you before that I have this problem earlier #44, and then I solved it by adding exclusion using if statement.

[code]

[2015-01-10 09:23] hoxxep commented on #78
The problem is that some touch screen windows laptops will also have a mouse, so if we don't bind the mouse up event then mouse clicks won't initiate waves on those devices? We'll probably need a way of temporarily disabling waves for mouseup events if a touch event has occurred in the last 500ms or so.

[2015-01-10 10:07] fians commented on #78
It seems if the double ripple problem disappear if I disable event temporary.

[2015-01-10 16:16] hoxxep commented on #78
Fixed this issue by adding a TouchHandler which stacks clicks and disables mousedown for 500ms when a touchstart event occurs (doesn't affect the listeners so there's no performance loss with adding/removing listeners). On the train right now so I don't have Internet on the laptop, but I'll push the change later tonight :)

[2015-01-11 11:02] hoxxep commented on #58
Should hopefully be solved on pull request #79 with the delegated touch/mouse handler. This means `v0.6.0` will hopefully be launched within the next week so we can double check that this works on windows touchscreen laptops and some android devices that had issues :smile:

[2015-01-12 22:29] youssefdetovernickr commented on #58
Isn't it far more logical to completely get rid of "touchstart", as "mousedown" also works for touch devices?

[2015-01-12 23:04] hoxxep commented on #58
`touchstart` responds as soon as the touch occurs, whereas `mousedown` has a 300ms delay *after* the touch is released, and is immediately followed by a `mouseup` event.. In a way yes - but the current solution works fully and looks nicer. For example, clicking a [Snarl](https://hoxxep.github.io/snarl) notification on mobile lets the Waves effect run for 300ms before the click event happens, which

[2015-01-13 04:31] #78 closed

[2015-01-13 05:14] fians opened #81 "Waves doesn't work on Chrome"
Waves doesn't work on the site (http://fian.my.id/Waves). Using Chrome 39 on Windows 7.

[2015-01-13 06:30] fians commented on #81
It's weird. It works on IE and Firefox. It also works on Chrome 39, when I test it with BrowserStack.

[2015-01-13 08:18] hoxxep commented on #81
Probably another duplicate issue with touch screen windows laptops an v0.5.5 again. Again, it should work with v0.6.0 since we've bound both touch and mouse listeners now.

[2015-01-13 08:27] fians commented on #81
I think it's time to release v0.6.0.

[2015-01-13 08:27] #81 closed

[2015-01-13 08:36] fians opened #82 "v0.6.0 Beta Preview"
v0.6.0-beta preview has been released, you can see it here http://fian.my.id/Waves/0.6.0-beta/.

I will test it using BrowserStack before make it generally available, and post the updates here. If you have time, feel free to test it in your device.

[2015-01-13 08:49] fians commented on #82
IE Dektop test: Works only IE 10 and IE 11

[2015-01-13 09:04] fians commented on #82
Firefox - Desktop test:
- Works (partially) on FF4 - FF8 (Doesn't work on single tag element like `<input>` and `<img>`)
- Works on > FF9

[2015-01-13 09:12] fians commented on #82
Safari - Desktop test:
- Works on > Safari 5.1

[2015-01-13 09:14] fians commented on #82
Chrome - Desktop test:
- Works on Chrome 14 and above

[2015-01-13 09:20] fians commented on #82
Opera - Desktop test:
- Works on Opera 11.6 and above

[2015-01-13 09:35] fians commented on #82
iOS/Safari - Mobile test:
- Works on iOS 6 and above

[2015-01-13 09:35] fians commented on #82
Windows Phone/IE - Mobile test:
- Works on Windows Phone 8.1 (IE)

[2015-01-14 10:27] youssefdetovernickr commented on #58
Well, it currently works now, only the effect appears twice and it's far too white/dark because of that.

[2015-01-14 10:28] youssefdetovernickr commented on #58
Oh yeah something else, you can disable the 300ms thing by adding a meta tag (unsure which atm, I'm on mobile).

[2015-01-16 07:55] fians commented on #58
@youssefdetovernickr I just release beta preview for v0.6.0. Please check it out http://fian.my.id/Waves/0.6.0-beta/.

[2015-01-16 08:08] fians commented on #71
Added on v0.6.0. Please try it on beta preview here http://fian.my.id/Waves/0.6.0-beta.

[2015-01-16 08:08] #71 closed

[2015-01-16 08:14] fians commented on #82
Android Browser - Mobile test:
- Works on Android Browser 4 and above

[2015-01-16 08:37] #82 closed

[2015-01-17 23:27] youssefdetovernickr commented on #58
Seems ok now.

[2015-01-18 04:31] hoxxep commented on #58
Fantastic!

[2015-01-18 06:50] #58 closed

[2015-01-31 15:24] Taximan opened #86 "svg error"
First I want to note that this is my first issue report ever so don't be to harsh on me. But on to the good or in this case the bad stuff. Mainly, svgs seems to be, for no real reason targeted causing an

It doesn't seems like it would brake anything, just this annoying console message. Here you can see it in action http://codepen.io/anon/pen/MYEgaa open the console click on the div see nothing ha

[2015-02-01 14:41] fians commented on #86
Thanks! :smile:

[2015-02-01 14:41] #86 closed

[2015-02-05 14:50] polikin opened #89 "Disable Wave effect when you scroll (touch)"
When you scroll down/up, the effect is call everytime you "click -> scroll" over the element. It is possible to disable the effect onScroll?

http://screencast-o-matic.com/u/VAds/waves

[2015-02-05 16:40] urbany opened #90 "Wrong sources in waves.min.js.map"
Hi, `/dist/waves.min.js.map` points to `sources":["../src/js/waves.js"]` but the `src` directory is not available when installing via Bower.
Can you make it point to the waves file in the `dist` directory? `sources":["waves.js"]`

Thank you in advance.

[2015-02-07 01:12] fians commented on #90
I just realized people will need `src` directory when they installing Waves with Bower. So I just remove `src` from ignored list on bower.json. (61485d2afb58ded3ee4dd3704439a080ccfa802c)

[2015-02-12 07:45] #90 closed

[2015-02-14 02:18] apolkingg8 commented on #89
same issue + 1

[2015-02-14 16:27] hoxxep commented on #89
This would be quite difficult to fix, because Waves has to bind touch events. If we had to wait to check whether the user has touched or scrolled, the effect isn't quite as clean. The effect fires before the scroll, so disabling it while the user is scrolling has no impact. In all honesty, it doesn't look overly bad nor impact an application's function.

We could try to use [fastclick](https://git

[2015-02-16 16:19] polikin commented on #89
Make sense.

[2015-02-16 19:32] rockers123 opened #91 "Initializing with a custom class/id"
Is it possible to initialize the plugin with a custom class? something like,

Waves.displayEffect('.my-custom-class');

Thanks

[2015-02-16 20:31] hoxxep commented on #91
What would the class be attached to? If you can describe what you're trying to do with Waves that requires this extra class, then I'll understand what you mean - and why - a little better? :smile:

[2015-02-17 05:58] rockers123 commented on #91
Sorry, for the unclear question.

I want to use waves effects on buttons in an existing project where I got buttons everywhere(around 100). Assigning the .wave-effect class to each and every buttons manually would cost me alot of time. It would make my life easier if I can directly attach the waves on <button> elements.

[2015-02-17 12:37] fians commented on #91
I think it will be a nice idea. Actually, feature like that already added by @hoxxep ([see it here](https://github.com/fians/Waves/blob/master/src/js/waves.js#L312)), but it still really simple implementation and only accept DOM element as parameter.

I will extend `Waves.attach()` to make it more flexible to use. But for now, you can call `Waves.displayEffect()` first then attach `waves-effect` c

[2015-02-17 19:38] rockers123 commented on #91
Thank you very much for the awesome plugin and support. I think this will do the job

[2015-02-21 13:39] ozasadnyy opened #92 "Source files in bower"
Hi, I was surprised when bower downloads only dist folder of the project.
Because I want to use scss files. Can you modify your bower.json?

Thanks for project!

[2015-02-22 02:46] fians commented on #92
Fixed. :wink:

[2015-02-22 02:46] #92 closed

[2015-02-22 11:31] ozasadnyy commented on #92
Thanks)

[2015-02-27 02:44] ddtramp opened #93 "animation doesn't finish"
the browser is webkit core ;  android  cell phone
my code is

    <a href="tel:123456789" class="waves-effect waves-button">click here</a>

when click this button, the browser default action is pop-up  notice and will be stop the waves effect,

when trigger focus out event on this element,  the waves effect will be continue to implement.

but when finish,  this part of the text on the button will

[2015-02-27 06:28] fians commented on #93
Can you give me some screenshots of it or sample of your code?

[2015-02-27 06:30] ddtramp commented on #93
i have find a way to solve this problem

i change this `Effect.hide()` method

         // el.removeChild(ripple);
         el.removeChild(ripple.getSetAttribute('style', convertStyle({display: 'none'}))); // i add this line

i found use `el.removeChild()` method doesn't work at android operating system, but use `ripple.remove()` or `el.lastChild.remove()` is ok,

unfortunately, `remove()` is not

[2015-02-27 06:35] fians commented on #93
Thanks for finding a bug. I will take a look at it later today.

[2015-02-28 21:33] ozasadnyy opened #94 "Update bower.json and package.json"
Please update these files to lates version https://github.com/fians/Waves/releases/tag/0.6.2

[2015-03-03 15:19] Bbemol opened #95 "Disable waves animation when scrolling"
Hi! Thanks for this great effect.
It exists already in materializecss actually, but it's good to have minimal functionalities such as these.

On mobile, I would like the effect to be disabled when you scroll.
For example : I have a sidebar with navigation link. If I scroll down and the finger initial position is on your wave animation then it will run the animation but I don't want it to run.

So

[2015-03-03 20:46] hoxxep commented on #95
You can see issue #89 for why this isn't possible. Delaying the waves effect for long/short touches isn't possible: if we hold a button for example, we want the waves effect to have occurred as soon as the user touches. But then the user can decide to scroll after holding the button for a second or two. There's no clean way of checking whether the user is scrolling without [significantly] delaying

[2015-03-03 22:17] Bbemol commented on #95
Oh sorry, I didn't check well the existing issue. Thanks for your reply. Keep doing your good job.

[2015-03-03 22:17] #95 closed

[2015-03-03 22:22] hoxxep commented on #95
No worries! It's quite a common request, with sadly no easy or currently known viable fix.

[2015-03-04 14:26] fians commented on #94
Just bump the version along with new documentation page. :wink:

[2015-03-04 14:26] #94 closed

[2015-03-04 14:32] fians commented on #89
I will try to find a way how to fix this.

[2015-03-04 14:32] polikin commented on #89
cool, thanks!

[2015-03-07 03:15] sodbileg opened #96 "Shadow flicker when button pressed"
Hi,
When I click on a button, it flickers on the right side like a video below if I set `font-weight` of a button to `500`.

Button html: `<input type="submit" class="waves-effect waves-button waves-float" value="search">`

[Video](https://www.dropbox.com/s/xnu688un8465wy2/Untitled1.mov?dl=0)

[2015-03-07 04:56] fians commented on #96
Got it. I'll investigate this issue. Thanks.

[2015-03-07 13:48] marcinant opened #97 "Mixin names conflict with Compass-css"
Mixins: transition, transform, box-shadow conflict with mixins defined by [Compass](http://compass-style.org/reference/compass/css3/)

These names are too common.

My feature requests are:

- Rename mixins

and/or

- Use Compass instead of custom mixins

[2015-03-07 18:23] hoxxep commented on #97
We don't want to add extra dependencies, and I can see how the mixins can affect people. I'll rename the mixins tonight/tomorrow by adding a `@waves-` suffix.

[2015-03-08 04:28] fians commented on #93
Could you tell me the version of android device when you saw this bug?

[2015-03-08 04:32] fians commented on #97
@hoxxep Let me handle it.

[2015-03-08 04:34] fians commented on #97
Fixed :wink:

[2015-03-08 04:34] #97 closed

[2015-03-09 03:08] ddtramp commented on #93
android version: 4.1.1 JRO03L;
MIUI VERSION: MIUI-JLB52.0

and i found this bug in wechat app on android device. this app use own browser Rendering Engine base on webkit

[2015-03-10 01:33] fians commented on #93
Sorry, I cannot replicate the bug. But can you try to test [this fiddle](http://jsbin.com/kaxequlipe/1/) with the device browser (default one)? Just to make sure if it's working or not. Thanks.

[2015-03-11 03:39] danielhickman commented on #89
Just thought I would add, when you drag the wave moves with you in Android (not waves, but Lollipop's effect) The orange box is to protect their phone number because the app never wanted to stay in the same position.
![2015_03_10_20_26_09_1](https://cloud.githubusercontent.com/assets/5341898/6589911/6b1e2aa2-c765-11e4-9aa7-ea5e741ad23e.gif)

[2015-03-12 06:48] ddtramp commented on #93
i try, you code will run correctly, but I still have this problem.

[2015-03-12 07:15] ddtramp commented on #93
![1](https://cloud.githubusercontent.com/assets/4402625/6613611/75195aa2-c8ca-11e4-9f5e-a327f0bbc4d8.PNG)
![2](https://cloud.githubusercontent.com/assets/4402625/6613617/89311110-c8ca-11e4-90f6-2092828bebe9.PNG)
![3](https://cloud.githubusercontent.com/assets/4402625/6613622/92088b9c-c8ca-11e4-9689-78fa1bad8fbe.PNG)

like this

[2015-03-12 08:20] hoxxep commented on #93
If you press with two or three fingers, it's starts two or three ripples but will only stop one because as far as I remember it only fires the touch up/end event when all touches have ceased? Perhaps this is the problem?

Try it on the Waves header, press on it with multiple fingers then lift them all off and you'll see one or two ripples don't disappear? (It happens on iOS, not sure about android

[2015-03-13 02:53] ddtramp commented on #93
This bug appears in wechat app, android version, ios verison is ok;

and this app use tencent QQ browser x5 kernel, maybe there change something...

[2015-03-13 06:19] fians commented on #93
I think it's better to close this issue, since the bug happen inside closed-sourced browser and hard to replicate. Thanks for your feedback @ddtramp! :smile:

[2015-03-13 06:19] #93 closed

[2015-03-13 16:43] simonbbyrne commented on #89
This is actually quite confusing for a user when you are scrolling a list. Native user experience does not do this.
I was considering dealing with this, but the more i used the list in my app, the more annoying it became.

[2015-03-14 05:18] danielhickman opened #98 "Waves Don't Show Over Zeroclipboard"
The things changing in the HTML that you can see are Zeroclipboard adding active and hover classes to the `<a>` tag and the wave-ripple `<div>` elements appearing. This issue is Zero's flash movie interferes with the waves element.
URL: http://materialcolorize.com/color-picker/
Browser: Chrome 42.0.2311.39 beta-m (64-bit)
System: Windows 8.1 Machine

![desktop 03 13 2015 - 22 10 49 01_1](https://c

[2015-03-16 20:24] lorensr commented on #89
Happening for me too, my use case is a list of checkboxes, and when I scroll down, the wave effect happens. Should only happen on tap/click, not touchdown:

![image](https://cloud.githubusercontent.com/assets/251288/6675712/bf1722d4-cbdf-11e4-857b-ae3144635fd2.png)

[2015-03-19 06:52] shaulhadar opened #99 "Can't See Effect on href elements"
Hello, thanks for this great project!  for some reason, i can't make it work on list item or items that have href tag... is there any way to achieve this?

thanks :)

[2015-03-19 08:13] fians commented on #98
This happen because Zeroclipboard overlay the waves element with transparent flash. You might be want to take a look this issue https://github.com/zeroclipboard/zeroclipboard/issues/536

[2015-03-19 08:15] fians commented on #99
Can you replicate the bug using jsfiddle?

[2015-03-19 08:30] shaulhadar commented on #99
Hi Fians, thanks for getting back to me.  I couldn't made a jsfiddle demo, so i uploaded the folder to a subdomain, so you can see...  i have waves effects on the menu items, but only the most bottom one is working... also , the effect didn't work on the posts, but i kind of hacked it to work, but not 100%...

here is the test site, based on wpionic...:

http://sh-original-media.com/wavesdemo/

Th

[2015-03-19 11:03] fians commented on #99
Well, Waves effect didn't show because Ionic adding `.activated` class when you click the list, and `.activated` contain `background-color` property. Here is the css value of `.activated`:

[code]

Try to override this behaviour by setting `background-color` to `transparent` to show the ripple. Add this to your css to fix it.

[code]

[2015-03-19 15:03] shaulhadar commented on #99
Hi Fians, your method almost fixed the problem.  I have made another test here:

http://sh-original-media.com/wavesdemo2

the effect now shows on the menu items, but for some reason, it vanishes as soon as you move your finger, while in other places it has a fade in the animation effect... but at least now i can see the animation.   but there is another problem, for some reason, the animation does

[2015-03-26 00:58] fians commented on #98
Sorry, I have to close this issue since you didn't give me any response for last 7 days. Thanks!

[2015-03-26 00:58] #98 closed

[2015-03-26 01:00] fians opened #101 "Put Waves on npm."
Reference: #100

[2015-03-29 14:12] fians commented on #101
Done. Now you can install Waves via npm by typing `npm install node-waves`.

[2015-03-29 14:12] #101 closed

[2015-04-08 14:25] voidale opened #105 "can we add an effect on hover?"
I think it will be really nice because I have some instant buttons like hrefs and effect on them is practically useless because it's redirect instantly...

[2015-04-10 13:01] fians commented on #105
I have no plan to do that. But I will work on it if I have enough time.

[2015-04-10 13:11] fians commented on #99
Sorry, I've been busy in the last couple weeks. Do you still have this issue?

[2015-04-10 13:52] nonameolsson opened #107 "Waves and Bootstrap"
Hi!
I've been trying to add Waves to our web app, but I have problems with the buttons.

**Method 1:**
```<a href="#" class="btn btn-primary waves-effect waves-float waves-button">My button</a>```
It seems like that the waves-button class overrides some of the Bootstrap classes from btn-primary. For example the background and text color doesn't work, it ends up with a transparent background and a

[2015-04-10 18:10] shaulhadar commented on #99
Hi, Yes, i still have this issue.. is there anything i can do ?

     On Friday, April 10, 2015 4:12 PM, Alfiana Sibuea <notifications@github.com> wrote:

 Sorry, I've been busy in the last couple weeks. Do you still have this issue?—
Reply to this email directly or view it on GitHub.

[2015-04-11 08:34] sqal commented on #107
+1 I wanted to open an issue about the same matter. I thinks the best option here will be separating core/basic waves styles from all the styles that could overrides user styles and put them e.g. waves-theme.scss

[2015-04-11 11:11] fians commented on #99
First, you should add space between your css value and `!important` property. Please take a look your style.css on line 117. And it seems you are using old version of Waves, try to update to the latest one v0.6.6.

[2015-04-11 11:23] fians commented on #107
I think it's hard to integrated Waves with Bootstrap without additional css style, since Waves only works on flat surface (solid color) and bootstrap's button itself has some skeuomorphism style (bevels and emboss, like github green comment button).

[2015-04-11 22:03] hoxxep commented on #91
In pull request #108 I've upgraded the `Waves.attach(elements, classes)` function to allow you to use a string selector to apply the `.waves-effect` and any optional waves classes dynamically. Hopefully that helps!

[2015-04-12 08:45] #107 closed

[2015-04-12 09:53] fians commented on #89
@hoxxep has fix this issue. It solved on Windows Phone (IE), could someone check it on other phones like iOS and Android? Here is the preview: http://fian.my.id/Waves/v0.7.0-dev/

[2015-04-12 09:56] hoxxep commented on #89
Works for me on iOS 8.

Also: apologies for being so stubbornly against the time delay on waves. I realise I was wrong and it still works well with the delay.

[2015-04-12 14:12] Cosmitar commented on #89
Works on Android 4.1.2 browser Chrome v 41.0.2272.96

[2015-04-12 15:36] hoxxep commented on #105
@voidale Is pull request #110 sort of what you meant? So when you drag the mouse over an element it has a rippling/skimming effect like dragging your finger on the surface of water?

If you haven't cloned/forked the repo, I'll comment here if it gets included in the v0.7.0 [dev] build so you can test it.

[2015-04-13 12:47] polikin commented on #89
Works on Android 4.4 - Chrome v 41.0.2272.96

[2015-04-13 13:10] fians commented on #89
I think it's enough. This will fixes will be bundled in v0.7.0 (currently in dev stage).

[2015-04-13 13:10] #89 closed

[2015-04-13 13:11] polikin commented on #89
Good job!

[2015-04-13 16:26] fians commented on #91
I just made a little changes to `Waves.attach()`. The function now will use array of classes string as parameter instead string of classes. It's just to improve code readability, just in case someone want to add more than 3 classes to Waves elements.

[2015-04-13 16:30] fians commented on #105
Sorry, the drag effect is too complicated. It should be like click/touch event, the difference it will use `mouseenter` and `mouseleave`, so when mouse enter the element, ripple is created (just once), and it will disappear as soon as mouse leave the element.

[2015-04-13 16:32] hoxxep commented on #105
So we should add another event alongside dragging, but works on `mouseenter`? Would it make the ripple start from the centre, or from the mouse position on entering the element?

[2015-04-13 17:13] simonbbyrne commented on #89
Fairplay, thanks!

[2015-04-14 14:17] fians commented on #91
Ok. It seems this feature is done. It will be shipped on v0.7.0

[2015-04-14 14:17] #91 closed

[2015-04-14 18:07] hoxxep opened #112 "API: Waves.ripple(element)"
Run `Effect.show(e, element)` on an element via an API call, and `Waves.ripple(element)` could mimic a click event occurring at the centre of the element, where `element` is a string passed to a querySelector.

Simulate `mousedown` and an immediate `mouseup` in the centre of `element`. I'll add this tonight, and this will simplify the `mouseover`/`mouseleave`/hover effect (requested in issue #105)

[2015-04-14 21:21] hoxxep commented on #112
Solved in pull request #113. It does not check for `.waves-effect`. It includes a warning in the documentation that `.waves-effect` should already be present on the element and could be added via `Waves.attach()`.

`Waves.calm(elements)` was also added in that pull request to remove all ripples from an element. Useful when a ripple has no timeout.

[2015-04-15 06:57] ThemeSama opened #114 "JSHint found some issues"
Hi Fians,

Line 181 - Extra comma. (it breaks older versions of IE) - I think this is not important :)
Line 15,16 - 'define' is not defined.
Line 24 - 'module' is not defined.
Line 31 - 'global' is not defined.
Line 142 - 'width' is defined but never used.

If statements available but I can't passed on JSHint for 15, 16, 24 and 31. lines.

[2015-04-15 14:53] hoxxep commented on #114
Have you made any modifications to the source?

We run all our code through JSHint in Grunt while developing, and the build will fail if JSHint finds any errors. This means the repository should pass JSHint (it is for me, on both the v0.7.0-dev and master branches). We use `grunt-contrib-jshint` version `0.10.0`; so perhaps you're using a different JSHint version? Plus, our Gruntfile JSHint config

[2015-04-15 17:41] fians commented on #112
Merged.

[2015-04-15 17:41] #112 closed

[2015-04-16 08:10] ThemeSama commented on #114
I'm looking this file https://github.com/fians/Waves/blob/master/src/js/waves.js 142. line

[code]

I'm using Bootstrap and some special configs available. "grunt-contrib-jshint": "~0.11.0"
https://github.com/twbs/bootstrap/blob/master/js/.jshintrc

How can I pass this notifications with original release? I removed some lines and working Waves with Bootstrap v3.3.2.

Original:
[code]
My used:
[cod

[2015-04-16 08:26] ThemeSama commented on #114
I'm used v.0.7.0-dev JS file and new issues available. I just moved this functions and I passed.

[code]

allowRipple moved 406. line
hideRipple moved 513. line

[2015-04-16 08:34] ThemeSama commented on #114
OK I added this lines and I passed :)
[code]

[2015-04-16 08:34] #114 closed

[2015-04-16 16:38] hoxxep commented on #105
Now possible to set up hover effects by using `Waves.ripple(elements, options)` with `mouseenter` and `mouseleave` Event Listeners. For example:

[code]

We could make `elements` (from `Waves.ripple(elements)`) also accept raw DOM elements, so that the following is possible:

[code]

[2015-04-16 18:24] voidale commented on #105
Isn't it possible to do with css (hover) only? @hoxxep  it's great if it works I will test later.

[2015-04-16 18:33] hoxxep commented on #105
Do you mean using the ripple effect on hover, or just a minor CSS colour change/effect on hover like so?

[code]

[2015-04-16 22:17] voidale commented on #105
@hoxxep I was wondering, If we really have to use jQuery for the ripple effect. Can't be done using css hover? i guess not. Doesn't matter it's great thanks for the new option! I think it will be useful for many users. Also saw your

[2015-04-16 22:17] #105 closed

[2015-04-16 22:21] hoxxep commented on #105
It sadly can't be done through CSS since the ripple must be added via JS, sorry! But thanks for sparking the idea for giving users JS control of the ripples :smile:

It'll be released with v0.7.0, which will hopefully ship within the next few weeks.

[2015-04-19 13:09] fians commented on #99
Sorry, I have to close the issue, because you haven't give response in last 7 days. Feel free to give your comment if you want to reopen this issue. Thanks!

[2015-04-19 13:09] #99 closed

[2015-04-19 16:02] sqal opened #119 "removeRipple() randomly causes error - 'Cannot read property 'classList' of undefined'"
Steps to reproduce the issue:

1. Go to examples page -  http://fian.my.id/Waves/#examples
2. Open the browser console
3. Using the example with image, click on the bottom left corner of image, then very quickly click on the opposite corner.

At some point in the console you should notice an error:

`Uncaught TypeError: Cannot read property 'classList' of undefined`

This is happening, because `ri

[2015-04-19 17:43] fians commented on #119
It's caching problem. Let me try to fix it by adding parameter on the static source.

[2015-04-20 05:41] shaulhadar commented on #99
Thanks for your help man!!

     On Sunday, April 19, 2015 4:09 PM, Alfiana Sibuea <notifications@github.com> wrote:

 Sorry, I have to close the issue, because you haven't give response in last 7 days. Feel free to give your comment if you want to reopen this issue. Thanks!—
Reply to this email directly or view it on GitHub.

[2015-04-20 11:44] sqal commented on #119
No, that is not the issue here. Check out this way. Open the browser console on Elements tab find `.img-wrapper` and play with Waves clicking very fast in different places of the image. You'll notice that one `.waves-ripple'` div  is not removed as it should, untill you move the cursor out of the image. So, there's problem with Show/Hide function logic, I think.

[2015-04-20 13:20] stephan-nordnes-eriksen opened #120 "Bower install command at http://fian.my.id/Waves/ incorrect"
I tried to copy the bower install command from http://fian.my.id/Waves/#start, but it does not work. It has an uppercase `W` in the package name, and it won't install.

Says: `bower install Waves`.
It appears that it should be: `bower install waves` (lowercase `w`).

Not sure if this resides in the github repo, so I can't send a PR.

[2015-04-21 02:37] fians commented on #120
Fixed. :wink:

[2015-04-21 02:37] #120 closed

[2015-04-23 11:30] fians commented on #119
It's working fine for me. What browser do you use when find this issue? And also its version.

[2015-04-23 12:45] fians opened #121 "Auto wrapping for <img>"
It would be nice, if Waves also set a wrapper automatically form `<img>`, not just for `<input>`.

[2015-04-23 14:41] sqal commented on #119
Any browser.It's it's strange that you can't reproduce this bug. Here, take a look at this -  https://www.screenr.com/NiJN

[2015-04-24 03:51] fians commented on #119
Can you create a jsfiddle of it?

[2015-04-24 15:45] sqal commented on #119
Here you go, but it's only copy/paste the latest verions of Waves - http://jsfiddle.net/9u7hhcuu/

[2015-04-24 17:58] sqal commented on #119
Ok, I think I figured it out, can send PR but have a couple of questions first:

1. What is `waves-rippling` class in line [120](https://github.com/fians/Waves/blob/master/src/js/waves.js#L120) added for? Wasn't this part of PR #110 and then removed in b59ecfe154311f1 ? Seems unnecessary to me

2. What is the point of checking for mousemove event? e.g in here [243](https://github.com/fians/Waves/b

[2015-04-25 23:32] hoxxep commented on #119
I'm on mobile, but if I remember correct `.waves-rippling` is used to check whether a ripple has started to be removed yet (eg. If it has the class then it's still an active ripple). It's (should be) used by the `Effect.hide` function and probably added in `Effect.show`. I'm on mobile though, so I might be misremembering it.

[2015-04-26 06:01] cody1991 commented on #119
I also find this bug ~ click very fast and create the bug ' Cannot read property 'classList' of undefined' ' , just add  if (!ripple) return ; ?

[2015-04-26 06:50] fians commented on #119
I think I spot the problem. As @cody1991 (I don't know why I can't see his comment) said, it seems when we click element multiple times in short time (fast click), the `Effect.hide()` sometimes missing the ripple, because it's already removed by previous click event (which also trigger `Effect.hide()`).

It's like,

_"Hey, I got the ripple A, I will delete it soon by using `setTimeout()`"._

_"Hey

[2015-04-26 06:59] #119 closed

[2015-04-26 07:05] cody1991 commented on #119
because i find just add the
if (!ripple) {
     return;
}
the bug is also exist....
so i delete my comment
~so sorry~

[2015-04-26 13:32] fians commented on #119
@cody1991 no, it's fine. :+1:

[2015-04-26 18:06] sqal commented on #119
Yeah, it is one solution. But my question still stands. I don't see any reason to adding `waves-rippling` class now. If you simply replace in line [177](https://github.com/fians/Waves/blob/master/src/js/waves.js#L177) class `waves-rippling` to `waves-ripple` then the bug is gone :)

[2015-05-04 13:39] #121 closed

[2015-05-04 13:44] fians commented on #16
Sorry, It seems this feature will not be shipped in future version of Waves, unless there is high demand from people that want this implemented. But, thanks for your suggestion.

[2015-05-04 13:44] #16 closed

[2015-05-06 03:19] dtracers opened #122 "is there a way to attach an event to when a ripple has finished?"

[2015-05-06 03:25] fians commented on #122
Unfortunately, there is no event after ripple finished. But nice idea! :+1:

By the way, what kind of event you want to attach? Because I need specific example to make sure the functionality is useful, not just bloating the code base.

[2015-05-06 04:54] dtracers commented on #122
well right now we have a dialog that closes when a button is pressed.

but that is instant so you don't see the pretty ripple effect.

What we are using to fix it is a timeout so you get to partially see the ripple effect before everything is removed.

but I didn't know if there was an official way to add the delay

[2015-05-13 14:21] bradmartin opened #124 "Not working with Ionic Framework"
Not sure if you intend to support mobile frameworks (version 0.6.4 worked fine).

I haven't had time to dig into the code to see what's throwing off the ripple effect but switching from version 0.6.4 to 0.7.2 breaks the effect. No errors logged in the console so possibly a collision with something Ionic does for mobile/touch events.

[2015-05-16 12:19] fians commented on #124
Can you share your code here?

[2015-05-18 02:47] bradmartin commented on #124
I'll try to put together a plunker/jsBin and see if the issue remains, I'll post the plunkr here when I get to it.

[2015-05-28 09:00] rkusuma opened #126 "PhantomJS bind problem"
Hi..

I want to test my web using karma and phantomJS, but got error "TypeError: 'undefined' is not a function (evaluating 'document.querySelectorAll.bind(document)')".
I add bind-polyfill.js but still not working. The problem is in this line of code

[code]

Any solution ?

[2015-06-01 01:14] Shehab-Eltawel opened #127 "Waves for Radio / checkbox elements"
Hello,
I tried to attach waves to radio buttons but it din worked. any ideas ?!

Thanks

[2015-06-07 18:04] dniccum commented on #124
I am seeing the same issue.

[2015-06-07 18:13] bradmartin commented on #124
I haven't had any time to setup a codepen or plunkr. I'll try to but no
guarantee.

On Sun, Jun 7, 2015 at 1:04 PM, Doug Niccum <notifications@github.com>
wrote:

[2015-06-12 01:06] lorensr opened #128 "Clicks on larger children are canceled"
When I use this technique:

http://stackoverflow.com/questions/15611905/making-the-clickable-area-of-in-line-links-bigger-without-affecting-the-layout

and click on a point that is within the `:after` but outside the `.waves-effect` element, the click is canceled (the wave does not occur and the link `href` is not loaded). The desired behavior is for both the click event to occur and for the waves

[2015-06-13 01:28] jahrichie commented on #54
+1

[2015-06-13 01:28] jahrichie commented on #54
Happy to handle this with permission.

[2015-06-13 03:21] fians commented on #127
Sorry, it's seems not possible. The only way to do this might be by creating a custom checkbox element with `<div>` tag.

[2015-06-13 03:25] fians commented on #124
There is major break change from 0.6.* to 0.7.*. I'm not sure what library do you using, but there is possibility that the library didn't upgrade Waves version into the new one.

[2015-06-13 14:58] hoxxep commented on #127
You don't add the Waves effect directly onto the `<input type="radio">`, instead you add it to a wrapper or the label:

[code]

**Codepen:** http://codepen.io/anon/pen/Pqjrax

The labels are required to allow the user to click on the text, which then selects the radio/input button.

[2015-06-13 15:34] hoxxep commented on #128
Codepen: http://codepen.io/anon/pen/QbgXJL

You'll see from this codepen that the `:after` pseudo-element is contained within the `<a>` link. Because the `.waves-effect` element *requires* `overflow:hidden`, the pseudo-element is hidden inside the `<a>` tag.

In the codepen, I've added a workaround using the margin and padding (although this may require `display: inline-block`). This does make the

[2015-06-14 09:26] Shehab-Eltawel commented on #127
@hoxxep  No dear it won't. it will give waves effect for the whole label n input , which isn't what I want to achieve.
what i want to do for checkboxes n radio like the following demo:
 http://fezvrasta.github.io/bootstrap-material-design/#checkbox

I will close this issue, and will re open it if i could get it done with waves.js

Thanks.

[2015-06-14 09:26] #127 closed

[2015-06-14 20:08] lorensr commented on #128
Thank you! My `.waves-effect` is on link that contains an icon, and already has circular padding. I want the `:after` to be larger than the circle that the wave fills. That would be the easiest solution, but I take it that method is not workable, so I will go the 3rd route with `Waves.ripple()`.

[2015-06-14 20:08] #128 closed

[2015-06-18 18:44] bradmartin commented on #124
http://codepen.io/ionic/pen/CbBsA?editors=101 first codepen in awhile. The links to your example page are where I tried to path the .css and .js for Waves from, they might be off. You could tweak those to be accurate if you want to investigate why the effect is not working. I'll take a look at it later if I have the time, no guarantees right now. Thanks for the lib @fians, it's pretty slick and pe

[2015-06-18 18:48] bradmartin commented on #124
Ignore that, I don't have a codepen account so it didn't save. Sorry. I'll try to create something workable later.

[2015-06-21 07:14] MurWade opened #130 "really slow on firefox android browser"
Using nexus 5 with firefox browser. the effect is really slow . not on desktop firefox though.

[2015-06-24 08:40] qualitybits opened #131 "Uncaught ReferenceError: Waves is not defined"
when i get the waves from bower version 0.7.2. i try to init it by
`Waves.init();`
its return this error:
Uncaught ReferenceError: Waves is not defined.
bower.json
`"waves":"0.7.2"`
auto attach file:
 `   <link rel="stylesheet" href="bower_components/waves/dist/waves.min.css" />
    <script src="bower_components/waves/dist/waves.min.js"></script>`
my html button:
`<button class="btn bgm-red btn-fl

[2015-06-24 08:43] fians commented on #131
Can you share your whole HTML code?

[2015-06-24 08:58] qualitybits commented on #131
I have update the question

[2015-06-24 09:31] fians commented on #131
Where do you place waves.min.js and `Waves.init()`? Because You should place the script before calling `Waves.init()`.

[2015-06-24 10:39] qualitybits commented on #131
<script src="bower_components/waves/dist/waves.min.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>

Waves.init().
is in app.js

[2015-06-24 23:03] hoxxep commented on #131
If you're using angular.js (judging from your `app.js` and `controllers/` folders) you cannot access `window` variables simply from anywhere. In a regular `<script>` tag:

[code]

But with Angular due to the different scoping, to access a global/`window` variable you'll need to use the `$window` service module and access waves through `$window.Waves.init()` (or do your `Waves.init()` in a "non-ang

[2015-06-29 15:00] ppollo07 commented on #131
Hello, i have a same problem "Uncaught ReferenceError: Waves is not defined".
<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <link rel="stylesheet" href="/content/css/libs/waves.css" />
</head>
<body>
...
    <script type="text/javascript" src="/scripts/lib/waves.min.js"></script>

    <script>
        $(document).on('ready', function () {
            // Init Waves
            Waves.ini

[2015-06-29 16:26] fians commented on #131
@ppollo07 I don't think there is any error on Waves. Here is my fiddle http://jsbin.com/xawicesiwu/edit?html,console,output. But if you still see the error, please create a fiddle of it, so I can easily to check it out.

[2015-06-29 17:06] ppollo07 commented on #131
@fians I think its any problem with another library used. I use libs googlemap, googleads, underscore, boba, bootstrap, and more.

What do you think about this? can change object name?

[2015-06-29 18:10] chmartinez commented on #131
I think that it could be a name collision issue. For instance, there is an object named "global"  in the waves's code. Try using namespaces for your code.

[2015-06-29 19:48] ppollo07 commented on #131
thank @chmartinez the problem was that, i have a generic objeto call "globlal".
typeof global === 'object' ? global : this, function() << my code crash here
@fians sorry and thanks!!

[2015-06-29 22:21] fians commented on #131
@ppollo07 no problem. Good to hear that.

[2015-07-08 01:16] #131 closed

[2015-07-16 09:10] cerlestes opened #132 ".waves-effect blocks all child elements from overflowing"
When applying the plugin to elements that have overflowing child elements (e.g. popups, tooltips within clickable lists), the ```overflow:hidden;``` given to the parent element by ```.waves-effect``` will cut off any other child element as well, which is unwanted.

**Possible solutions:**
1. Move the ```overflow:hidden;``` rule into a separate class that is only applied when rippling, or
2. Add an

[2015-07-21 07:53] lixiaoyan opened #133 "Waves.js works wrong when both <button> was disabled and <button> has child."
A very simple example: <http://jsbin.com/gofewazula/edit?html,output>.
When disabled `<button>` has child, and you clicked that child, ripple effect works wrong.

[2015-07-21 07:54] lixiaoyan commented on #133
Seem to be waves.js only checked the `event.target.disabled`, when I set `child.disabled` to `true`, all things works fine.

[2015-07-31 16:09] jamesbyrneiitd opened #134 "AngulaJS instead of JQuery"
Any possibility of having it work for AngularJS instead of JQuery?

Would love to see an AngularJS version too.

[2015-08-03 19:11] agheshin opened #135 "onhover effect besides onclick"

[2015-08-04 18:05] hoxxep commented on #134
Waves does not use jQuery, and it already works alongside angular. You need to use the [$window](https://docs.angularjs.org/api/ng/service/$window) directive to access/initialise it, like so:

[code]

Or simply have a separate `<script>` tag to initialise Waves on the HTML template.

---

**Potential issue:** Waves uses a delegated click handler to check if an object with the class `.waves-effect`

[2015-08-12 14:29] shamank commented on #96
Hi. Same here. It's something related to the width or padding of the element, because changing that it solves the issue. In my case, it's also happening at bottom. Thanks!

[2015-08-12 19:22] hoxxep commented on #135
This feature was fully working here fc33c38539a92a631d8179db58807843a2067bbd, and then removed here b59ecfe154311f1f96c7adb094fda0c8cd7aa4ea for reasons stated in the latter commit's comments (bloating). It can be brought back if there is a demand for it.

If you want a single ripple on hover, you can manually attach a `Waves.ripple(element, options)` event as specified in the [api docs](http://fi

[2015-08-16 05:35] fians commented on #134
Hi @jamesbyrneiitd, I will close this issue since you didn't give the response more than a week. Let us know if @hoxxep's solution working or not.

[2015-08-16 05:35] #134 closed

[2015-08-16 06:17] fians commented on #133
Well, I think I just make the ripple didn't show if there is `disabled` property on target element.

[2015-08-16 06:17] #133 closed

[2015-08-24 06:47] atardadi commented on #126
+1

[2015-08-25 14:06] karlingen opened #136 "Waves.attach only if not already attached"
Is it possible to make `Waves.attach` to attach only if it has not been attached yet?
The reason I want this is because I'm calling Waves.attach on page load and after an ajax request:

[code]

This ends up making the element to have the same class multiple times. It's not a problem per se, but it makes the rendered HTML look nasty and wierd and could lead to potential problems (? IE anyone ?)

[2015-09-25 10:07] ahmedali5530 opened #137 "waves always appear from top left corner"
Hi @fians
I m using waves with bootstrap, my problem is that waves always appear from top left corner of button, but it is working well on other elements.
this is what i m using
[code]
Any help?

[2015-10-25 06:06] fians commented on #137
There is little bit conflict if you want to combine Waves with Bootstrap button, since bootstrap have their own button style and sometimes it prevent Waves to work properly. The best way to solve this is by making sure you didn't combine Waves with Bootstrap on your button.

[2015-10-25 06:33] fians commented on #136
Ok. I get it. It seems Waves only prevent duplicated `.waves-effect` class on the element, not other classes that being added in second parameter.

[2015-10-26 05:17] sammkj opened #139 "Uncaught TypeError: Cannot read property 'disabled' of null"
Error occurs when I click outside of the element that contains waves-effect. For example:

[code]
When I click on ```body```, ```Uncaught TypeError: Cannot read property 'disabled' of null``` pops up. It seems like there's a problem in the ```showEffect``` method.

To reproduce:

1. $ clone https://github.com/komorebi-works/meteor-waves
2. $ cd ~/test
3. $ ln -s ~/meteor-waves packages/waves
4. $

[2015-10-26 10:51] peruzzo commented on #139
+1

[2015-10-27 08:40] fians commented on #139
Fixed by @xiaoyuze88 #140

[2015-10-27 08:40] #139 closed

[2015-10-27 22:06] ksya opened #141 "Different speed and timeout for hold"
When you look carefully at the Android ripple animation, than there is a different speed and timeout when holding a button. It is much slower when holding. When you release the button, the ripple continues at "click" speed (so no new ripple is created).

It would be great when this is build in, it will make my web app 1 step closer to being more native-like.

[2015-10-28 02:14] fians commented on #141
Great idea! I will put in on v0.8.0 release.

[2015-10-28 02:14] #137 closed

[2015-10-28 02:17] #124 closed

[2015-10-28 02:27] fians commented on #54
It seems someone has add Waves to cdnjs. To the person who do this, thank you very much! :+1:

[2015-10-28 02:27] #54 closed

[2015-10-30 07:46] zhiyishou opened #142 "a tag would not ripple because index:-1"
I saw you add `z-index:-1` on a tag for bug in Firefox, but with my test, the version `0.7.4` **couldn't ripple** that is just caused by `z-index:-1`, and my Chrome version is 6.0.2490.71, Firefox version is 41.0.1, besides I haven't seen the bug that there is not triggered in Firefox you said.

[2015-11-01 09:16] ahmedali5530 commented on #137
Thanks i got it.

[2015-11-08 13:41] DavidFrahm commented on #126
+1

This seems to need some conditional checking on the `document` so that it can work when run headless.

Something like this:

[code]

[2015-11-16 05:21] dongwenting opened #143 "waves not work with bootstrap"
my html like this, but I can't see the effect. because of adding bootstrapp css.

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>OA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" />

	<link rel="s

[2015-11-16 05:22] dongwenting opened #144 "waves not work with bootstrap"
my html like this, but I can't see the effect. because of adding bootstrapp css.

     <!DOCTYPE html>
     <html>
     <head>
	   <meta charset="utf-8" />
          <meta http-equiv="x-ua-compatible" content="ie=edge" />
          <title>OA</title>
          <meta name="viewport" content="width=device-width, initial-scale=1" />

	   <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/c

[2015-11-16 05:23] #143 closed

[2015-11-16 05:30] Kaishiyoku commented on #144
Hello,

Habe you tried attaching an initializing Waves manually?

`
Waves.attach('.button', ['waves-button']);
Waves.init();
`

[2015-11-16 05:37] dongwenting commented on #144
Yes, I add this into js, but still not work.

     <!DOCTYPE html>
      <html>
      <head>
          <meta charset="utf-8" />
          <meta http-equiv="x-ua-compatible" content="ie=edge" />
          <title>OA</title>
	   <meta name="description" content="OA" />
       <meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="//cdn.bootcss.com/bootst

[2015-11-16 05:42] dongwenting commented on #144
sorry, i made a mistake, it should be

    Waves.attach('.btn', ['waves-button']);
    Waves.init();

I can see the effect now ,but not good looking.

[2015-11-16 05:47] Kaishiyoku commented on #144
What do you exactly mean? At some buttons I am using `waves-light` when the button color is too dark. I am currently writing on my phone, I will look at some example code of myself how I used Waves together with Bootstrap 3.

[2015-11-16 06:56] fians commented on #144
Sorry, waves currently didn't work well with bootstrap. Please see here #107

[2015-11-16 08:23] Kaishiyoku commented on #144
:+1:

[2015-11-19 02:50] BKD-Digital commented on #130
https://www.netmarketshare.com/browser-market-share.aspx?qprid=2&qpcustomd=1

I would close this ticket. Firefox mobile has feeble marketshare

[2015-11-30 02:53] santoshban commented on #144
I faced lots of issues with any version of bootstrap.

[2015-11-30 03:03] dongwenting commented on #144
I found a css which makes waves work with bootstrap. you can download it and rename it  waves.min.css.

[code]

[2015-12-02 16:29] fians commented on #142
Can you share your code in jsfiddle?

[2015-12-17 10:58] ozzywadd commented on #142
I also had this same issue. I'm working with the foundation 6 framework and -1 z-index was causing the ripple effect to be hidden. Removing this is currently working in both Chrome and Firefox latest versions.

[2015-12-17 12:19] lukas-vollmer commented on #136
Same problem. Is there already a solution? E.g in the 0.8 dev version?

[2015-12-25 03:19] jonathanmaloy commented on #142
https://jsfiddle.net/pfnghsw9/4/

Moved the following to top of css so you can easily remove to see the ripple working without that line and not working with it.  I removed that line for my project and links are still triggered in all browsers.
    a.waves-effect .waves-ripple {
        z-index: -1;
    }

[2016-01-08 10:31] wonsikin commented on #126
+1

[2016-01-12 21:09] LordZardeck commented on #126
Use PhantomJS2. Earlier versions of PhantomJS do not have `Function.prototype.bind`. If you can't use PhantomJS2, you'll need to include a shim for `.bind`, but I highly recommend updating.

[2016-02-02 20:13] tylerhirschel opened #145 "SVGElements do not shortcircuit getWavesEffectElement"
https://jsfiddle.net/s5dpndws/
Error occurs when clicking on an svgElement in IE
 I changed this on line 359:
[code]
to:
[code]

[2016-02-12 18:14] andruschka opened #146 "Waves ripple twice in iOS"
When i tap on a wave element it sometimes ripples twice. (iOS / Safari)

[2016-02-17 03:26] ChristianRich commented on #144
FYI, I'm having absolutely no issues with Bootstrap and waves. It works well and looks great.
I have only tried with button elements.

[2016-02-20 12:39] zrepas opened #147 "Waves causes the floating element to be displayed as block."
Hey!

First of all, I really like your plugin, the idea and the coding also.

I had problem, when I used the waves on floated elements. Since the plugin makes all the attached element to **block formatted**, thats made the attached container jumped for me (because of the CSS rule overflow: hidden).
So istead of this why you don't create a block inside the original element, and make that absolute p

[2016-02-20 14:55] samkelleher opened #148 ".attach(elements) doesn't accept array of elements."
The documentation indicates that the `attach()` method accepts an 'array of DOM elements'.

However this no longer functions. Passing in an array of DOM elements does nothing. Internally I believe the array is replaced with an empty array in `getWavesElements` function, shown below.

[code]

[code]

Seen above, an array of DOM elements will not match any of the above if statements.

[2016-02-21 11:39] #148 closed

[2016-02-21 11:40] fians commented on #148
Good point! Thanks :+1:

[2016-02-21 11:44] fians commented on #145
Does it fix the issue? If yes, can you please point me where should I make changes to fix it? It would be awesome if you can create a pull request for this. Thanks!

[2016-02-21 11:50] fians commented on #144
@dongwenting Hi, I don't see any difference if I compare your css with current css of Waves (0.7.4). Am I missing something?

@ChristianRich Hi Christian, can you create new issue for this? So we can investigate it further. Thanks!

[2016-02-21 11:51] fians commented on #147
Great idea, I will put it on v0.8.0. Thanks!

[2016-02-21 11:55] fians commented on #142
Oh, it's my mistake then. If it works all across browser, I will remove it immediately. Thanks.

[2016-02-21 12:00] #142 closed

[2016-02-21 12:21] dongwenting commented on #144
@fians  here is the demo, and  I can see the effect. note: change the path of waves.css

`<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Insert title here</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/waves.css" />

   	<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>

	<sc

[2016-02-21 12:45] dongwenting commented on #144
@fians I'm sorry. the difference is not css, but the js. forgive my poor English - -!
As the demo above.
Below js will make waves work with bootstrap.
[code]
The below is wrong, because the waves-button class will overlay bootstrap's background-color and border-color.
[code]

[2016-02-21 15:15] fians commented on #144
@dongwenting I will figure it out how to make this works. Thanks :+1:

[2016-02-21 15:17] #130 closed

[2016-02-22 15:53] tylerhirschel commented on #145
PR create [https://github.com/fians/Waves/pull/150](url)

[2016-02-26 21:01] DanBoSlice opened #151 "Wrapper Element"
It would be awesome if the ripple effect could be triggered by clicking a "wrapper element", yet the effect will only be displayed on a child element. Both elements should be configurable by the user.

[2016-02-28 14:28] fians commented on #151
See #147.

[2016-02-28 14:28] #151 closed

[2016-02-28 14:32] fians commented on #145
Thanks!

[2016-02-28 14:32] #145 closed

[2016-03-16 03:05] ziarno7 commented on #122
I also need this functionality :) would be nice to have a callback on Waves.ripple function

[2016-05-16 07:04] Micjoyce opened #155 "Can I change wave effects ripple color?"

[2016-05-16 14:14] hoxxep commented on #155
This should be possible by overriding the `background` property on the `.waves-effect .waves-ripple` class.

For example, in less, customise `background` and `@gradient`.

[code]

[2016-05-23 00:52] softshape opened #156 "Bug in Mozilla Firefox"
When clicking on round buttons, the wave randomly fills the whole square so one can see the corners.

See the video capture here - https://www.youtube.com/watch?v=PF9Bj42nU9M

Recorded in the latest Firefox 46.0.1 on Windows.

[2016-05-25 18:18] Kaishiyoku opened #157 ".waves-circle: mismatched property value"
Hi,

the .waves-circle class is no longer working (v0.7.5).

When I look inside the waves.scss there appears the following error:
![phpstorm_2016-05-25_20-17-22](https://cloud.githubusercontent.com/assets/5131112/15551338/c707d7e4-22b5-11e6-9726-2cdc9ec998f2.png)

![2016-05-25_20-20-17](https://cloud.githubusercontent.com/assets/5131112/15551404/26a34102-22b6-11e6-8035-344cd697cabb.gif)

[2016-07-08 15:29] softshape commented on #156
Just found the same bug on iPad's Google Chrome. So it's not only on Mozilla.

[2016-08-24 10:12] hgwood commented on #131
Ran into this issue today.

This code: `typeof global === 'object' ? global : this` might be a little fragile. It breaks in the browser if:
- there is a user-defined `global` (@ppollo07's case)
- there is an element with id `global`
- the code is running in NW.js (my case)

Browserify has [the same issue](https://github.com/substack/node-browserify/issues/1189) and [accompanying PR](https://github

[2016-09-11 03:00] sergeyzwezdin commented on #101
@fians Thank you for putting it to npm. I guess it would be better if you add NPM package name to `readme.md` file to avoid everyone searching at issues for this :-)

[2016-09-11 03:18] sergeyzwezdin opened #159 "Waves destroy"
While there are `Waves.init()` and `Waves.attach()` exists, there is no `Waves.destroy()` and `Waves.detach()`.

At the same time there is set of `addEventListener()` calls, so Waves subscribes on control events some time, but never unsubscribes on this.
For example: https://github.com/fians/Waves/blob/master/src/js/waves.js#L442-L462

So it's quite possible to get memory leaks on large applicatio

[2016-09-29 20:20] dave-k opened #160 "RequireJS and Waves not showing Click effect"
I am using Waves with requirejs and material admin (normalize.css) but not seeing the Click effect on buttons.
waves.js is loaded but the waves-effect class is not added to the buttons.

[code]

Any help/suggestions appreciated.

This is the requirejs configuration.

[code]

[2016-10-06 06:45] kamote opened #161 "not working properly with bootstrap button javascript loading"
No compatible with bootstrap button javascript. When triggered `$button.button('loading');` and `$button.button('reset');`.Element div `.waves-ripple` does not remove..
In order to fixed it i added:

[code]

Code

[code]

[2016-10-06 23:27] Dargmuesli opened #162 "CSP discourages inline styles"
With **Content Security Policy** enabled and no `unsafe-inline` in `style-src`, waves are not displayed and as a csp violation (report) is triggered.
Currently I don't see a practical way to a solution because neither `hash-source`s nor `nonce-source`s can be used with dynamically generated style attributes in the current form. I seriously hope that there is a possibility to work around this issue

[2017-01-06 06:47] cobopanda opened #164 "Warning: Path must be a string. Received null Use --force to continue."
when I run grunt
outputing this:
Running "jshint:files" (jshint) task
Warning: Path must be a string. Received null Use --force to continue.

Aborted due to warnings.

[2017-01-27 16:36] shourya23 commented on #164
reporterOutput: ''             // <-- Add an empty String here

This solution worked for me. If not defined it takes the value as null.

[2017-01-29 17:33] Beee4life commented on #164
thanks @shourya23 that did it for me as well.

[2017-02-18 00:40] Zerelt opened #166 "not working with SVG elements"
I have a svg element with a couple of circles inside it on a React page. I wanted to add the awesome wave effect to the circles inside the svg. Would this be possible ?
   I tried with the circles animated (moving left and right 5px continously) and static but it didn't work even though I saw the class added to the circle in the devtools. I tried manually adding ' waves-effect ' as a className lik

[2017-03-08 13:57] DetlefPeters opened #167 "getWavesEffectElement iterates over parentElement - should use parentNode instead"
(original issue copied from materializecss project which uses waves.js)

"Hi,
in waves.js function getWavesEffectElement you iterate over target.parentElement recursively. This leads ot problems in IE11 SVG-Elements where parentElement is undefined. Changing this to target.parentNode works as expected in all browsers.

Kind Regards
Joscha"

I open this issue here because your code is involved.

Be

[2017-03-13 06:47] fians commented on #164
I will add this.

[2017-03-13 06:48] fians commented on #162
I will work on this.

[2017-03-20 16:51] #164 closed

[2017-03-20 16:54] fians commented on #161
Hi @kamote, can you replicate the issue on jsfiddle? Thanks!

[2017-03-20 16:55] fians commented on #159
Hi @sergeyzwezdin, nice idea. I will work on this. Thanks!

[2017-03-20 16:57] fians commented on #157
Hi @Kaishiyoku, what browser (and its version) do you use?

[2017-03-20 17:01] fians commented on #156
Hi @softshape, I know it has been a long time, but is the issue still happen in recent version of the browsers? Because I don't see it on Firefox 52.0.1

[2017-03-20 17:04] fians commented on #126
Thanks @LordZardeck for the answers. I'm closing this issue. But if the problem still happening, feel free to open the new one.

[2017-03-20 17:04] #126 closed

[2017-03-20 17:42] fians commented on #166
Hi @Zerelt, it's related with `element.parentElement` issue that being use in Waves.js. I'm working on it, but it will be fixed on v0.8.0 (next version). #167

[2017-03-20 17:42] #166 closed

[2017-03-26 17:10] #136 closed

[2017-03-26 17:10] fians commented on #136
Added to v0.8.0

[2017-03-26 17:14] fians commented on #167
Added to v0.8.0

[2017-03-26 17:14] #167 closed

[2017-03-26 17:21] fians commented on #135
I remove this from v0.8.0 until there is enough demand for this feature. I will leave this issue open.

[2017-03-26 17:49] fians commented on #159
Added to v0.8.0

[2017-03-26 17:49] #159 closed

[2017-03-26 17:51] fians commented on #160
Have you tried to add Waves using `Waves.init()` and `Waves.attach()`?

[2017-04-03 19:39] tomscholz commented on #167
@fians Where to find v0.8.0 ?

[2017-04-05 05:21] fians commented on #167
@tomscholz I don't have fixed timeline for v0.8.0 because I have to works on some features (see https://github.com/fians/Waves/milestone/3). Hopefully it will be released by the end of April 2017.

[2017-05-22 09:09] himanshushankhala commented on #134
The dynamic elements in the new view templates are not getting initialize by $window.Waves.init()

Is there any way I can use it, I want to use it. #urgent

[2017-07-03 13:59] Jarajesh opened #176 "Demo Url not working"
[Demo](http://fian.my.id/Waves/)  link is not working "Server not Found"

[2017-07-05 05:07] fians commented on #176
Sorry, I was having problem with my domain provider. It should be fixed now.

[2017-07-05 05:07] #176 closed

[2017-07-05 13:45] Jarajesh commented on #176
thanks for the fix

[2017-09-06 12:44] peternewman commented on #164
You can also fix this by updating jshint to e.g.
`"grunt-contrib-jshint": "^0.12.0",`

[2017-10-24 16:13] fians commented on #96
Sorry for being leaving this issue unresolved in a long time. Currently I didn't find this issue on my machine (macOS 10.12.6 Chrome & Firefox). Feel free to open this issue if you still find the shadow flicker.

[2017-10-24 16:13] #96 closed

[2017-10-24 16:22] fians commented on #146
I think this issue has been fixed. But if it still happen, it would be good if you can provide some video or animation of it. I'm going to close this issue for now, feel free to open it again.

[2017-10-24 16:22] #146 closed

[2017-10-24 16:22] fians commented on #160
Sorry, since there is no response from the issue creator. I have to going to close this issue. Feel free to open in again.

[2017-10-24 16:23] #160 closed

[2017-10-24 16:24] fians commented on #156
Sorry, since there is no response from the issue creator. I have to going to close this issue. Feel free to open in again.

[2017-10-24 16:24] #156 closed

[2017-10-24 16:24] fians commented on #161
Sorry, since there is no response from the issue creator. I have to going to close this issue. Feel free to open in again.

[2017-10-24 16:24] #161 closed

[2017-10-24 16:27] fians commented on #155
Thanks @hoxxep! I think it would be good by overriding the existing style. I will put it on the docs.

[2017-10-24 16:31] fians commented on #157
Sorry, since there is no response from the issue creator. I have to going to close this issue. Feel free to open in again.

[2017-10-24 16:31] #157 closed

[2017-10-24 16:38] fians opened #178 "Use overlay wrapper for waves and its ripple effect"
I think it would be good if Waves create an overlay wrapper element inside an actual element and put all the ripple effect child there.

Instead doing this:

[code]

Waves should doing like this:

[code]

[2017-10-24 16:40] fians commented on #178
I think this will fix #147, #132 and I hope it also fix bootstrap issue on #144

[2017-11-17 21:40] dangllucas opened #179 "Clicking very often causes the button to get white"
When I click for example the primary Button very often and fast, the waves effect overlap and do not get removed from the element causing it to get white completely.

![2017-11-17_22h38_46](https://user-images.githubusercontent.com/27855488/32970161-1a11878c-cbe8-11e7-85cc-60435defaf01.png)
![2017-11-17_22h38_55](https://user-images.githubusercontent.com/27855488/32970164-1cb0f7ca-cbe8-11e7-8b7f-3

[2017-11-20 01:41] fians commented on #179
Can you give me some information about browser that you use and the version? Also are you using the latest version of Waves (v0.7.5)? Then it would be great if you can reproduce the issue using jsfiddle or jsbin. Thanks!

[2017-12-04 22:42] Bloemendaal opened #180 "ripple effect removes border radius"
For some reason on my website activating the ripple causes the border-radius to disappear. I've tried to reproduce the issue with only a button but for some reason it only 'works' when I copy (most) of the HTML of my website.

Try clicking the search- or morebutton to see what happens:
https://codepen.io/Bloemendaal/pen/dZrVEZ

Thanks for your time!
Casper

[2017-12-11 02:49] iamdubx commented on #155
@fians is it in the Docs? How to change color?

[2017-12-11 23:57] DanielRuf commented on #135
At least I could need the hover support.

[2017-12-12 13:49] fians commented on #155
@iamdubx Sorry, I haven't put it on the docs yet. But you should follow @hoxxep advice if you want to change the ripple color.

[2017-12-14 00:32] hoxxep commented on #155
@iamdubx It doesn't have to be 5 points -- it's just what looked best originally. Feel free to change the background of the ripple to whatever you think looks best for your site! Note the example above is written in SASS or LESS so needs converting to CSS 😄

[2017-12-15 20:37] iamdubx commented on #155
@hoxxep this doesn't work

[code]
I am using stylus

[2017-12-15 20:40] iamdubx commented on #155
Oh, got it! It doesn't work with `scoped` CSS styles in Vue COmponent, so you need to make Waves styles global. Thanks all!

[2017-12-15 20:42] iamdubx commented on #155
One more thing. What about timing? Can I change this property?

[2017-12-15 20:44] iamdubx commented on #155
What if I want different colours on different pages? Why Waves want this styles globally?

[2017-12-16 16:43] DanielRuf opened #183 "new release"
A few bugs were fixed since the last release last year. It would be great to have a new release.

[2017-12-16 16:48] DanielRuf opened #184 "ES6 without loader wrapped around Waves"
So far Waves can not be directly used with other bundlers through import/require as it is wrapped in another loader and not available as pure ES6 module.

At least there are no docs about such a working setup. We've got it working with some extra steps like my PR for the browser environment.

But for the future it would be great to have some docs for webpack and other bundlers that work.

[2017-12-19 08:10] DanielRuf commented on #183
And it would be better to use a banner plugin instead of updating the year in the comment manually.

[2018-01-02 04:02] gauraviitr opened #185 "Still getting 'Waves is not defined'"
Not sure if this issue was resolved. But I still get the error.

[2018-01-02 11:11] DanielRuf opened #186 "regression: unable to get property 'contains' of undefined or null reference (IE11)"
In the code there are checks like `classList.contains('waves-effect')` but these fail in IE11 as these are SVG elements.

See https://caniuse.com/#feat=classlist

Also the short circuit `target.classList.contains('waves-effect') && !(target instanceof SVGElement)` is wrong, the SVG check should be before the contains check.

Reference: https://github.com/fians/Waves/issues/119

[2018-01-02 15:37] Kameals commented on #164
thanks @peternewman it works for me.

[2018-01-04 14:17] #155 closed

[2018-01-07 21:29] DanielRuf opened #187 "provide some method to get (default) options"
Reference: Swiper.params of https://github.com/nolimits4web/Swiper

See `showAllOptions` at https://danielruf.github.io/swiper-builder/

[2018-01-09 04:46] StephenDugu commented on #185
It works  well  on the browser.But I get the error on the client.

[2018-01-09 16:20] fians commented on #183
@DanielRuf Yeah, I just make a new release. What is a banner plugin?

[2018-01-09 16:22] fians commented on #184
I like the idea.

[2018-01-09 16:24] fians commented on #185
Hi, I just publish a new release that might be contain this fix. Could you try with the v0.7.6?

[2018-01-09 16:26] DanielRuf opened #188 "inline styles from TagWrapper are problematic"
The automatically created inline styles break hover styles when used and prevent simple overwriting. Only `!important` works in some cases.

It would be probably useful to make this optional and enabled by default.

[2018-01-09 16:28] fians commented on #187
Do you means something like `Waves.attach('.button')`? Sorry, I don't get it.

[2018-01-09 16:28] DanielRuf commented on #183
Regarding the banner:

https://github.com/fians/Waves/commit/45f2d4819b159ea8408e6fdc0b581d4b10439607

https://webpack.js.org/plugins/banner-plugin/

[2018-01-09 16:30] DanielRuf commented on #183
https://github.com/fians/Waves/commit/3fd8e8a4bc7a6125cb010e39ee29855eb6b5fb34 can be also automated ;-)

[2018-01-09 16:31] DanielRuf commented on #183
As there is a new release now I'll close this issue.

[2018-01-09 16:31] #183 closed

[2018-01-09 16:37] DanielRuf commented on #187
No, internally there are some default options. It would be good to have a method to dump them to the console. See the `showAllOptions` example from me using Swiper which has `Swiper.params`.

This is helpful to get the current and default options of an instance, clone it and create a new one based on the other settings (Object.assign and so on).

[2018-01-20 16:28] iamdubx opened #189 "Why i tag with waves-effect class appears around img?"
If I use div then everything ok. But if I apply it to `img` then it broke my markup.

[2018-01-20 16:32] iamdubx commented on #189
Ok, I found this - https://github.com/fians/Waves/issues/121

Then another question - how then I style `img` if `i` is not allowing me to do that? I mean, I want to make it 100% width but I can't, because `i` tag appears.

[2018-01-20 16:32] iamdubx commented on #121
Not sure if this is right decision.

[2018-02-02 21:59] Luky90 opened #190 "My own crypto on android phone"
I'm trying to get the address of the receiver by scanning his qrcode (he printed it on paper) to send him some units of a crypto that I have made using waves platform
The problem is that when I push the scanner method  the camera that is open is the frontal one...i'm trying the same to put the frontal camera on the paper with the qr code but it doesn't read it
I have a samsung galaxy note5 but I'v

[2018-02-05 05:23] fians commented on #190
@Luky90 Hi, it seems you are mistaken a cryptocurrency platform with this library. This library has nothing to do with cryptocurrency. I think you will have the solution of your problem if you ask the question in other place. Have a good day!

[2018-02-05 05:23] #190 closed

[2018-02-05 05:33] fians commented on #189
Hi @iamdubx, the reason why I put wrapper tag (in this case `<i>` on the image because the ripple effect need a container in order to work properly. Without wrapper tag, the ripple will broken.

This is how it looks like when the Waves attached in the `<img>` tag.

[code]

Can you show me an example in jsfiddle of your problem? I suspect you have styling on your `<i>` tag that make your image styl

[2018-02-23 14:09] micsan13br opened #191 "Please reopen #131, it's still broken (+ solution)"
Hello,

I cannot reopen issues so I'm opening a new one for this:
https://github.com/fians/Waves/issues/131#issuecomment-242016999

Please see the comment by HGWOOD which explains the problem and proposes a solution.

[2018-02-28 15:13] skatkov opened #192 "Any chance Waves will be added to npm registry?"
It would be really nice to manage updates for Waves library, if it was published on npm. Any chance this could happen?

[2018-02-28 15:15] #192 closed

[2018-03-13 22:13] Dargmuesli commented on #162
It's now one year later. What is the status on this?

[2018-04-19 06:43] Artessan opened #193 "semantic ui dropdown error"
when use with semantic ui dropdown the child elements dont show

[2018-05-13 19:30] DanielRuf opened #194 "unclear attach docs"
[code]

Is this onclick or hover? Also the seconds parameter can be removed in this case.

[2018-05-13 20:21] DanielRuf opened #195 "Waves builder (demo)"
I've built https://builder-toolbox.github.io/waves-builder/

Maybe it is helpful for some people.
It uses localstorage for storing the last input and is made with dat.gui and some other small solutions.

Might just work in modern browsers as I use template literals / strings and some other "special" ES(6) features.

[2018-10-10 15:32] hAtul89 commented on #184
I'm exactly re-writing all my website and use ES6.. and now i understand why this doesn't work... i spent hours to figure this out :sob: :rofl:  :sob: :rofl:  :sob: :rofl:  :sob: :rofl:  :sob: :rofl:  :sob: :rofl:  :sob: :rofl:  :sob: :rofl:

[2018-11-07 16:14] miguelcobain commented on #178
This would be very helpful.

[2018-12-25 04:02] riiccardo commented on #155
but u wont :| still

[2019-01-28 19:31] DanielRuf opened #198 "Current project status"
Hi, what is the current status of this project? Is it still maintained?

[2019-02-25 07:02] usainicola opened #199 "Waves on enter key?"
When `tab` navigating the `enter` key is frequently used to "click" links but in this case the effect does not start.

[2019-03-19 21:23] MeteorKoder commented on #185
I have it like this:

`<script src="waves.min.js"></script>`

at the beginning of the HTML page and it works fine. With:

`<script type="text/javascript">`
    `    Waves.init();`
    `    Waves.attach('.waves-effect');`
`</script>`

at the end.

[2019-04-21 16:10] BerkeAras opened #200 "How can I remove the shadow?"
Hello. I have a shadow in the button on click. How can I remove it? Example: [material.berkearas.de](https://material.berkearas.de/)

[2019-07-03 01:07] anshumemorial opened #203 "Can I change waves color"
I want tio change waves color materialize CSS. Is it possible.

[2020-01-14 00:03] lucasvazq commented on #195
AMP version?

[2020-01-14 00:04] lucasvazq opened #204 "AMP version?"
Are you thinking of an AMP version?

[2020-01-14 05:17] DanielRuf commented on #195
Why would you want an AMP version? AMP is hosted on Googke servers, does not allow custom JS and is mainly for news websites. I don't recommend AMP.

[2020-01-14 11:13] lucasvazq commented on #195
It allows js

[2020-01-14 11:50] DanielRuf commented on #195
This is not an option for me. I see no real benefits by hosting this on Google servers.

[2020-01-14 11:53] DanielRuf commented on #195
Unneeded complication: https://amp.dev/documentation/guides-and-tutorials/develop/custom-javascript/

Currently it's directly delivered from https://github.com/builder-toolbox/waves-builder/ using GitHub pages.

[2020-01-27 13:58] Venegrad opened #205 "Cannot use import statement outside a module"
When i try import globally, that gives an error
Cannot use import statement outside a module

[2020-06-24 08:44] #200 closed

[2020-09-12 17:17] #186 closed

[2020-09-12 17:17] #188 closed

[2020-09-12 17:17] #187 closed

[2020-09-12 17:22] #194 closed

[2020-09-12 17:31] #198 closed

[2020-09-12 21:46] #184 closed

[2020-09-12 22:14] #195 closed

[2020-09-13 18:17] lucasvazq commented on #195
@DanielRuf the javascript allowed in AMP is very [restricted](https://github.com/ampproject/worker-dom/blob/main/web_compat_table.md). And respect to the other comment, you don't need to store your amp sites in google servers, you can store your sites wherever you want.

[2020-09-13 18:20] DanielRuf commented on #195
Still, not relevant / needed for a demo for a project. I think GitHub Pages is pretty fine.
If you want to create a demo using AMP, you are welcome.
But it is not needed.

[2020-10-15 18:14] katriellucas commented on #179
I can confirm this issue, using lastest Waves on Firefox and Brave (Chromiun) causes the below when the mouse is rapidly clicked.

![waves](https://user-images.githubusercontent.com/54755295/96172812-50cc1980-0efd-11eb-9500-3927f2adf08c.gif)

PS: Wave CSS is modified but I tested with unmodified version and this still occurs

**--- EDIT ---**
I think I solved it, just add `element.addEventListener

[2021-01-28 19:15] #180 closed

[2021-02-03 15:38] jonathanarbely commented on #192
https://www.npmjs.com/package/node-waves

[2021-04-13 14:15] Tramp1357 opened #210 "Use waves with webpack"
Good day. Is integration with webpack expected?

[2021-05-24 16:57] tchyra opened #214 "CSS zoom breaks effect origin point"
Setting the CSS zoom property on a container to anything other than 1 causes the origin point of the effect to stop matching the point at which the element was clicked. It looks like this:

![image](https://user-images.githubusercontent.com/60942473/119382003-c41ee080-bcc1-11eb-8f78-b2b364971520.png)

A tiny demo page that reproduces the issue:

[code]

Love the library!

[2022-03-08 09:28] AgentSmith0 opened #217 "Choose ripple color depending on background color of button"
Hello and thank you for your library @fians,

is it possible to choose the ripple color depending on the background color of the button?

[2022-07-13 02:10] habibmousavi opened #221 "CSP blocks a line of code"
While extending my deep appreciations to the author, I wanted to ask him to rewrite a line of code, as it is getting blocked by the CSP directives even though we use a nonce. The line is the following
`ripple.setAttribute('style', convertStyle(rippleStyle));`
This just throws the following error:
`Content Security Policy: The page’s settings blocked the loading of a resource at inline (“style-src”